:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.version {
  display: flex;
  flex-direction: column;
  width: 30vw;
  max-width: 250px;
  gap: 10px;
}
.version-image {
  width: 100%;
}
.version-label {
  font-size: 0.9rem;
  text-align: center;
}