:root {
  font-family: sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.router-link-container {
  display: flex;
  width: 90%;
  height: 40px;
}
.versions-container {
  display: flex;
}
.version {
  display: flex;
  flex-direction: column;
  width: 30vw;
  max-width: 250px;
  gap: 10px;
}
.version-image {
  width: 100%;
}
.version-label {
  font-size: 0.9rem;
  text-align: center;
}
.task-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.task-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-input {
  height: 30px;
  margin: 10px 0;
  width: 100%;
}
